
// Filtered Catalogue Wordpress Plugin Styles


// Defaults

// Spacing
$spacing-unit: 24px;
$half-spacing-unit: $spacing-unit/2;

// Layout
$product-layout: list;
$responsive: true;
$mobile-width: 690px;

$button-styling: false;

// Colours
$border-colour: black;
$button-colour: red;
$button-text-colour: white;




@import "imports/clearfix";
@import "imports/grid";
@import "imports/buttons";
@import "imports/layout";
@import "imports/products";
@import "imports/filters";


// Show and hide
// These classes are added and removed in the javascript and are fundamental to how the whole thing works!

.catalogue__product {
	display: none;
}
.category-is-visable.brand-is-visable,
.category-is-visable.brand-not-selected,
.brand-is-visable.category-not-selected {
	display: block;
}